/* ::::::::::::::::::::::::: ELEMENTS :::::::::::::::::::::::: */

table {
  margin: 0px auto;
  width: calc(100% - 2rem);
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 0.5rem;
  background: transparent;
  box-shadow: 3px -3px 0.45rem rgba(0, 0, 0, 0.4),
    1px -1px 0.25rem rgba(0, 0, 0, 0.06);
}
table thead tr {
  color: var(--gray-100);
  background: var(--purple);
}
table tbody tr {
  border-bottom: 1px solid var(--gray-100);
  font-size: smaller;
}
table tbody tr:last-child {
  border: 0;
}
table th {
  text-align: center;
  padding: 0.5rem 0px;
}
table td {
  text-align: left;
  padding: 0.25rem;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
@media screen and (min-width: 64em) {
  table thead tr{
    font-size: larger;
  }
  table tbody tr{
    font-size: unset;
  }
}

/* ::::::::::::::::::::::::: CLASSES ::::::::::::::::::::::::: */

/* ::::::::::::::::::::::::: BANNER :::::::::::::::::::::::::: */

#banner {
  position: relative;
  z-index: 50;
  height: 60vh;
  min-height: 24rem;
  padding-top: 4rem;
  background-color: var(--black);
  background-image: url("../img/star-field.svg"),
    linear-gradient(
      to bottom,
      var(--black),
      var(--purple) 100%,
      var(--white) 100%
    );
  box-shadow: inset 3px -3px 0.45rem rgba(0, 0, 0, 0.4),
    inset 1px -1px 0.25rem rgba(0, 0, 0, 0.06);
}
#banner h1 {
  text-align: center;
  margin: 0px;
  padding: 4rem 2rem 0px 2rem;
  line-height: 1;
  font-size: 3rem;
  font-weight: normal;
  font-family: var(--font-display);
  color: var(--gray-200);
  text-shadow: 0px 0px 0.25rem var(--white);
}
#banner p {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: var(--gray-400);
}
@media screen and (min-width: 64em) {
  #banner h1 {
    line-height: 1.25;
    font-size: 4rem;
  }
  #banner p {
    padding-top: 0px;
    font-size: 1.25rem;
  }
}

#nyan-yeobie {
  z-index: 55;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
#nyan-yeobie img {
  position: absolute;
  left: calc(25% - 2.5rem);
  top: max(40vh, 16rem);
  height: 3.25rem;
}
#rainbow {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: max(40vh, 16rem);
  background-image: url("../img/rainbow.png");
  background-size: auto 100%;
  background-repeat: repeat-x 0 0;
  height: 3rem;
  width: 25%;
  animation: rainbow-wiggle 0.25s step-end infinite;
}
@keyframes rainbow-wiggle {
  25% {
    background-position: calc(-1 / 20 * 3rem);
  }
  50% {
    background-position: calc(-8 / 20 * 3rem);
  }
  75% {
    background-position: calc(-9 / 20 * 3rem);
  }
}
@media screen and (min-width: 40em) {
  #nyan-yeobie img {
    left: calc(25% - 4rem);
    height: 5.5rem;
  }
  #rainbow {
    height: 5rem;
  }
  @keyframes rainbow-wiggle {
    25% {
      background-position: calc(-1 / 20 * 5rem);
    }
    50% {
      background-position: calc(-8 / 20 * 5rem);
    }
    75% {
      background-position: calc(-9 / 20 * 5rem);
    }
  }
}

/* :::::::::::::::::::::::::: HELLO :::::::::::::::::::::::::: */

#hello {
  text-align: center;
  max-width: 36rem;
  padding: 4rem 1rem 0px 1rem;
  z-index: 40;
}

/* ::::::::::::::::::::::::: DETAILS ::::::::::::::::::::::::: */

#details {
  text-align: center;
  max-width: 36rem;
  margin-top: 2.5rem;
  padding: 0px 1rem;
  z-index: 30;
}

/* :::::::::::::::::::::::: SCHEDULE ::::::::::::::::::::::::: */

#schedule {
  text-align: center;
  z-index: 20;
}
#schedule h2 {
  padding-bottom: 0.5rem;
}

#schedule table {
  font-size: 2.25vw;
}
@media screen and (min-width: 40em) {
  #schedule table {
    font-size: unset;
  }
  #schedule table td {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 64em) {
  #schedule table td {
    padding: 0.5rem 1.5rem;
  }
}

#schedule table tbody tr:nth-child(6n),
#schedule table tbody tr:nth-child(6n-1),
#schedule table tbody tr:nth-child(6n-2) {
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-200);
}

/* :::::::::::::::::::::::: SYLLABUS ::::::::::::::::::::::::: */

#syllabus {
  text-align: left;
  padding: 0px 1rem;
  z-index: 10;
}

#syllabus h2 {
  text-align: center;
}

#syllabus h3 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 40em) {
  #syllabus h3 {
    margin-top: 2rem;
  }
}
