/* Font */
@font-face {
	font-family: "VT323";
	src: url(../font/VT323-Regular.ttf) format("truetype");
}

/* Elements */
html, body { 
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
}  

body {
	background: rgb(135, 135, 138);
	background: radial-gradient(at top left, rgba(62,65,95,1) 0%, rgba(46,44,59,1) 20%);
	background-image: url("../img/stars.svg"),
	radial-gradient(at top left, rgba(62,65,95,1) 0%, rgba(46,44,59,1) 20%);
	text-rendering: optimizeLegibility;
}

#space {
	position: absolute;
}

/* Banner */
#banner {
	position: fixed;
	top: 32%;
	text-align: center;
	width: 100%;
	color: rgba(255, 255, 255, 0.90);
	font-family: 'VT323', 'Courier New', Courier, monospace; 
}
#banner h1 {
	margin-bottom: 0.5rem;
	font-size: 2.5rem;
}
#contact-links {
	padding-top: 0px;
	text-align: center;
	/* margin: auto; */
}
#contact-links a {
	display: inline-block;
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	font-size: 1.4rem;
	transition: all 0.3s ease-in-out;
}
#contact-links a::before {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	height: 0.1rem;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	transform: scaleX(0);
	transition: transform 0.3s ease;
  }
#contact-links a + a {
	margin-left: 0.5rem;
}
#contact-links a:last-of-type {
	margin-right: 0.25rem;
}
#contact-links a:hover {
	transform: scale(1.1);
}
#contact-links a:hover::before {
	transform: scaleX(0.75);
}
@media screen and (min-width: 40em) {
	#banner {
		top: 30%;
	}
	#banner h1 {
		font-size: 3rem;
	}
	#contact-links a {
		font-size: 1.6rem;
	}
	#contact-links a + a {
		margin-left: 1rem;
	}
	#contact-links a:last-of-type {
		margin-right: 0.5rem;
	}
}
@media screen and (min-width: 64em) {
	#banner h1 {
		font-size: 3.25rem;
	}
	#contact-links a {
		font-size: 1.8rem;
	}
}

/* Snapshot Window */
#snapshot {
	z-index: 1;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 25vmin;
	width: 35vmin;
	background-color: rgba(46,44,59,1);
	border: 1px solid rgba(255, 255, 255, 0.65);
}
#snapshot:before {
	content:'';
	z-index: 1;
	position: absolute;
    top:-2px;
	left:-2px;
    height: 100%;
    width: 100%;
	border: 2px solid rgba(46,44,59,1);
    border-radius: 14% / 20%;
}
#snapshot:after {
	content: '+';
	z-index: 2;
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
	width: 100%;
	color: rgba(255, 255, 255, 0.65);
	font-size: 4vmin;
	font-family: 'Courier New', Courier, monospace;
	pointer-events: none;
}
#instructions {
	position: fixed;
	bottom: calc(1rem + 25vmin);
	right: 1rem;
	width: 35vmin;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1rem;
	font-size: 1.1rem;
	font-family: 'VT323', 'Courier New', Courier, monospace;
}
@media screen and (min-width: 40em) {
	#instructions {
		line-height: 1.4rem;
		font-size: 1.5rem;
	}
}


/* Aladin Overrides */
.aladin-logo-container, .aladin-location, .aladin-fov {
	visibility: hidden;
}
.aladin-maximize {
	top: 1vmin;
	right: 1vmin;
	height: 2vmin;
	width: 2vmin;
	background-size: 2vmin;
}
