@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Megrim';
        src: url(../font/Megrim-Regular.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'Nanum Gothic Coding';
        src: url(../font/NanumGothicCoding-Bold.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'Nanum Gothic';
        src: url(../font/NanumGothic-Regular.ttf) format('truetype');
    }
}

@layer components {
    #navbar {
        transition: top 500ms cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 700ms cubic-bezier(0.4, 0, 1, 1) 100ms;
    }
    
    #who {
        background-image: 
            url('../img/star-field.svg'),
            linear-gradient(to bottom, theme('colors.black'), theme('colors.purple') 95%, theme('colors.white') 95%);
        height: 80vh;
        min-height: 32rem;
    }
    
    #title {
        text-shadow: 0px 0px 0.25rem theme('colors.white');
    }

    .break {
        @apply text-center;
        @apply max-w-xs;
        @apply mx-auto;
        @apply mt-10;
        @apply px-32;
    }
    .break circle{
        fill: theme('colors.purple');
        fill-opacity: 0.2;
    }
    
    .timepoint {
        @apply flex;
        @apply flex-no-wrap;
        @apply flex-row-reverse;
        @apply relative;
    }

    @screen sm {
        .timepoint:nth-child(even) {
            @apply flex-row;
        }
    }

    .event {
        @apply bg-spectrum-12;
        @apply w-5/12;
        @apply rounded-lg;
        @apply mt-10;
        @apply py-5 px-2;
        box-shadow: inset 1px -1px 0.35rem 0px theme('colors.shadow');
    }

    .event:before {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        right: 47.75%;
        top: 55%;
        background-color: theme('colors.spectrum-12');
        border: 0.4rem solid theme('colors.purple');
        border-radius: 50%;
        z-index: 41;
    }

    .timeline {
        @apply w-2/12;
    }

    .timeline line {
        stroke: theme('colors.purple');
        stroke-width: 0.5rem;
        stroke-linecap: round;
    }
}