@tailwind base;

@tailwind components;

@tailwind utilities;

#who {
    background-image: url('../img/star-field.svg'),linear-gradient(to bottom, theme('colors.who'), theme('colors.what'));
    height: 80vh;
}
#what {
    background-image: linear-gradient(to bottom, theme('colors.what'), theme('colors.when'));
}
#when {
    background-image: linear-gradient(to bottom, theme('colors.when'), theme('colors.where'));
}
#where {
    background-image: linear-gradient(to bottom, theme('colors.where'), theme('colors.why'));
}
